<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${ siteName } - ${ title }</title>

    <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicons/favicon32.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/favicon144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicons/favicon114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/favicon72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicons/favicon57.png" />

    ${ css "layout.css" }
  </head>

  <body>
    <header>
      <h1>Hello World!</h1>
    </header>

    <main role="main">
      ${ content }
    </main>

    <footer>
      <div class="engine">
        Powered e by <a href="https://gitlab.com/manveru/euphenix">EupheNix</a>
      </div>
    </footer>
  </body>
</html>
