<div class="hero">
    <h1>${ title }</h1>
    <h2>
        A static website generator for fast, secure, and reliable results.
    </h2>
</div>

<div class="more">
    <div class="resources">
        <h3>Resources</h3>
        <ul>
            <li><a href="/docs.html">Documentation</a></li>
            <li><a href="https://gitlab.com/manveru/euphenix">Source</a></li>
        </ul>
    </div>

    <div class="help">
        <h3>Help</h3>
        <ul>
            <li><a href="https://gitlab.com/manveru/euphenix/issues">Issues</a></li>
            <li>
                <a href="https://matrix.to/#/#euphenix:matrix.org">#euphenix on Matrix</a>
            </li>
        </ul>
    </div>
</div>